<link rel="stylesheet" href="{{ url_for('static', filename='css/Contact/contact.css') }}">

<title>Contact Us - TechNova</title>
<!-- Standard Favicon -->
<link rel="icon" href="/static/Bilder/TechNova/favicon.ico" type="image/x-icon">

<!-- Favicon in verschiedenen Größen für den Browser -->
<link rel="icon" sizes="16x16" href="/static/Bilder/TechNova/favicon-16x16.png">
<link rel="icon" sizes="32x32" href="/static/Bilder/TechNova/favicon-32x32.png">

<!-- Favicon für Android-Geräte -->
<link rel="icon" sizes="192x192" href="/static/Bilder/TechNova/android-chrome-192x192.png">
<link rel="icon" sizes="512x512" href="/static/Bilder/TechNova/android-chrome-512x512.png">

<!-- Favicon für Apple-Geräte (Home Screen) -->
<link rel="apple-touch-icon" href="/static/Bilder/TechNova/apple-touch-icon.png">


<!-- Türkiser Pfeil nach links oben links, zurück zur letzten Seite -->
<body>
<a href="javascript:window.history.back();" class="turquoise-arrow">&#8592;</a>
	<div class="form-card1">
		<div class="form-card2">
			<form class="form">
				<p class="form-heading">Get In Touch</p>

				<div class="form-field">
					<input required="" placeholder="Name" class="input-field" type="text" />
				</div>

				<div class="form-field">
					<input required=""
						   placeholder="Email"
						   class="input-field"
						   type="email" />
				</div>

				<div class="form-field">
					<input required=""
						   placeholder="Subject"
						   class="input-field"
						   type="text" />
				</div>

				<div class="form-field">
					<textarea required=""
							  placeholder="Message"
							  class="input-field"></textarea>
				</div>

				<button class="sendMessage-btn">Send Message</button>
			</form>
		</div>
	</div>
</body>