<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort Zurücksetzen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('home') }}" class="back-arrow">&#8592;</a>

    <div class="card">
        <h2 id="heading">Neues Passwort setzen</h2>
        <form method="POST" class="form">
            <div class="field">
                <input type="password" name="password" class="input-field" placeholder="Neues Passwort" required>
            </div>
            <div class="field">
                <input type="password" name="confirm_password" class="input-field" placeholder="Passwort bestätigen" required>
            </div>
            <button type="submit" class="button1">Passwort Zurücksetzen</button>
        </form>
    </div>
</body>
</html>
