<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Verifizieren</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <form class="form" method="POST" action="{{ url_for('verify_code', token=token) }}">
            <p id="heading">Code Verifizieren</p>

            <div class="field">
                <span class="input-icon">🔑</span>
                <input type="text" class="input-field" name="code" placeholder="Geben Sie den Code ein, den Sie erhalten haben" required>
            </div>

            <div class="btn">
                <button class="button1" type="submit">Code Verifizieren</button>
            </div>
        </form>
    </div>
</body>
</html>