/* Footer Styling */
footer {
    background-color: #000; /* Schwarzer Hintergrund */
    color: #575757; /* Weißer Text */
    padding: 15px 0; /* Wenig Abstand oben und unten */
    text-align: center; /* Zentrierter Text */
}

footer .container {
    width: 100%;
    max-width: 1200px; /* Maximale Breite des Containers */
    margin: 0 auto; /* Zentriert den Container */
    padding: 0 20px; /* Etwas Abstand an den Seiten */
}

footer p {
    margin: 5px 0; /* Kleiner Abstand zwischen den Absätzen */
}

footer .footer-link {
    color: #00bcd4; /* Türkis für die Links */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

footer .footer-link:hover {
    text-decoration: underline; /* Unterstreichung bei Hover */
}



/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Breite der Scrollbar */
    height: 12px; /* Höhe der Scrollbar (für horizontale Scrollbars) */
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, black, purple); /* Farbverlauf für den Track von Schwarz zu Lila */
    border-radius: 10px; /* Abgerundete Ecken des Tracks */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00bcd4, #e91e63, #9c27b0); /* Farbverlauf: Türkis, Pink, Lila */
    border-radius: 10px; /* Abgerundete Ecken des Thumbs */
    border: 3px solid #575757; /* Ein wenig Abstand zur Track */
}

::-webkit-scrollbar-track-piece {
background: linear-gradient(black, rgb(0, 0, 0)); /* Farbverlauf von schwarz nach lila */
}