<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" href="/static/Bilder/TechNova/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="/static/Bilder/TechNova/favicon-16x16.png">
    <link rel="icon" sizes="32x32" href="/static/Bilder/TechNova/favicon-32x32.png">
    <link rel="icon" sizes="192x192" href="/static/Bilder/TechNova/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="/static/Bilder/TechNova/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/static/Bilder/TechNova/apple-touch-icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Anmeldung/style.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='Bilder/Anmeldung/Hintergrund_ALL.jpg') }}'); background-size: cover; background-position: center;">
<div class="card">
    <a href="{{ url_for('login') }}" class="back-arrow">&larr;</a>
    <form class="form" method="POST" action="{{ url_for('forgot_password') }}">
        <p id="heading">Forgot Password</p>

        <div class="field">
            <span class="input-icon">@</span>
            <label>
                <input type="email" class="input-field" name="email" placeholder="Enter your email" required>
            </label>
        </div>

        <button class="button1" type="submit">Send Reset Link</button>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Kleinener Text unter dem Button -->
    <p style="text-align: center; font-size: 0.8rem; margin-top: 10px;">
        Wenn du deinen Backup-Code hast, kannst du
        <a href="{{ url_for('login_with_backup') }}" style="color: #FF307D; text-decoration: underline;">hier klicken</a>.
    </p>
    </form>
</div>
</body>
</html>