<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="icon" href="/static/Bilder/TechNova/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Anmeldung/style.css') }}">
</head>
<<body style="background-image: url('{{ url_for('static', filename='Bilder/Anmeldung/Hintergrund_ALL.jpg') }}'); background-size: cover; background-position: center;">
    <div class="card">
        <a href="{{ url_for('login') }}" class="back-arrow">&larr;</a>
        <form class="form" method="POST" action="{{ url_for('reset_password', token=token) }}">
            <p id="heading">Reset Password</p>
            <div class="field">
                <label>
                    <input type="password" class="input-field" name="password" placeholder="New Password" required>
                </label>
            </div>
            <div class="field">
                <label>
                    <input type="password" class="input-field" name="confirm_password" placeholder="Confirm Password" required>
                </label>
            </div>
            <div class="btn">
                <button class="button1" type="submit">Set New Password</button>
            </div>
        </form>
    </div>
</body>
</html>
